@import url(./components/button.css);
@import url(./components/input.css);
@import url(./components/icon.css);
@import url(./components/table.css);
@import url(./components/paging.css);
@import url(./components/combobox.css);
@import url(./components/dropdown.css);
@import url(./components/radio.css);
@import url(./components/textfield.css);
@import url(./components/notify.css);
@import url(./components/star_require.css);
@import url(./layout/header.css);
@import url(./layout/main-content.css);
@import url(./layout/sidebar.css);
@import url(./layout/page.css);
@import url(./layout/form.css);
@import url(./loading/skeleton.css);


body {
    padding: 0;
    margin: 0;
    font-family: GoogleSans;
    font-size: 14px;
    height: 100%;
    position: relative;
}

@font-face {
    font-family: GoogleSans;
    src: url("../assets/font/GoogleSans-Regular.otf");
}

@font-face {
    font-family: GoogleSans Bold;
    src: url("../assets/font/GoogleSans-Bold.otf");
}

@font-face {
    font-family: GoogleSans Italic;
    src: url("../assets/font/GoogleSans-Italic.otf");
}

.m-row{
    padding: 16px;
}

.show {
    display: block;
}
