 .skeleton {
        opacity: .5;
        border-radius: 4px;
        display: inline-block;
        height: 1em;
        margin: 0.5em 0;
        vertical-align: middle;
        width: 100%;
        animation:  skeleton-loading 1s linear infinite alternate;
    }

    .skeleton.circle {
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }

    .skeleton.text {
        height: 1em;
        margin: 0.5em 0;
    }

    .skeleton-row .skeleton {
        display: block;
    }

    @keyframes skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 70%);
        }
        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }