.m-btn{
    min-width: 80px;
    padding: 0 16px;
    color: #fff;
    border-radius: 4px;
    height: 36px;
    text-align: left;
    background-color: #50B83C;
    border-style: none;
    padding-left: 36px;
    font-size: 14px;
    font-weight: 500;
}

.m-btn:hover{
    background-color: #57C841;
    cursor: pointer;
}

.m-btn-icon{
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 12px center;
}

.m-icon-btn {
    height: 36px;
    width: 36px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: rgba(80,184,60,0.1);
}

.m-icon-btn:hover{
    background-color: #57C841;
    cursor: pointer;
}

