.m-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: unset;
}

.m-table thead {

    color: #1F1F1F;
    font-weight: bold;

}

.m-table th{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F5F5F5;
}

.m-table td,
.m-table th {
    border-right:1px solid #E0E0E0 ;
    padding: 0 16px;
}

.m-table tr {
    border-bottom: 1px solid #E0E0E0 ;
    height: 48px;
}

.m-table .m-text-align-left {
    text-align: left;
}

.m-table .m-text-align-right {
    text-align: right;
}

.m-table .m-text-align-center {
    text-align: center;
}

.m-table tbody tr:hover {
    background-color: #cccccc;
    /* cursor: pointer; */
}

.m-table thead button {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
}

.m-table tr td:last-child,
.m-table th:last-child {
    box-sizing: border-box;
    border-left: none;
}

 .row-btn {
    display: none;
    box-sizing: border-box;
}