.m-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: unset;
}

.m-table thead {
    background-color: #F5F5F5;
    color: #1F1F1F;
    font-weight: bold;
}

.m-table td,
.m-table th {
    border-right:1px solid #E0E0E0 ;
    padding: 0 16px;
}

.m-table tr {
    border-bottom: 1px solid #E0E0E0 ;
    height: 48px;
}

.m-table .m-text-align-left {
    text-align: left;
}

.m-table .m-text-align-right {
    text-align: right;
}

.m-table .m-text-align-center {
    text-align: center;
}